.page-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  margin: 2rem;
}
.page-sub-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem;
}

.trophy-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 5fr;
/*   background-color:red; */
  gap:1rem;
  margin:2rem 0;
}

.legend-grid-item {
/*   background-color:green; */
}

.legend-img{
  max-height: 100%;
  max-width: 100%;
  object-fit:cover;
  transition: transform .2s;
/*   filter: grayscale(100%) sepia(50%); */
}

.legend-img:hover{
  transform: scale(1.05);
}

.footer-trophies__trophy-image {
    position: static;
    height: 7rem;
    width: 4.5rem;
    fill: #fdc52c;
    z-index: 20;
  grid-row: span 2;
}
.trophy-count{
  grid-row: span 2;
}
.trophy-name, .trophy-years{
  grid-column: 3/5;
}